@charset  'UTF-8';

div#topo{
	width:900px;
}

h1{
	text-align: center;
	color: white;
	font-size:50;
font-variant: small-caps;
	font-weight: 900;
	
}
p{
text-align: justify;
	color: black;
	font-size:15;
font-variant: small-caps;
	font-weight: 900;
}
